
[mysqld]
##### Basic #####
user = mysql
sql_mode = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
autocommit = 1
character_set_server=utf8
event_scheduler = 1
max_allowed_packet=1M

# server-id       = 1
port            = 3306
socket          = /tmp/mysql.sock
pid-file = /tmp/mysql.pid
datadir=/agent/mysql/
skip-symbolic-links
show_compatibility_56=on
explicit_defaults_for_timestamp = 1
default-storage-engine   = InnoDB
transaction_isolation = READ-COMMITTED
read_only = 1

##### Connect #####
skip-name-resolve
wait_timeout = 3600
interactive_timeout = 3600
lock_wait_timeout = 1800
max_connect_errors = 1000000
max_connections = 10000

##### Log #####
binlog_format=row
binlog_gtid_simple_recovery = 1
binlog_rows_query_log_events = 1
binlog-rows-query-log-events = 1
expire_logs_days = 1
binlog_row_image = full
max_binlog_size = 256M

#general_log              = 1
general_log_file         = mysql.log
log-bin-trust-function-creators = 1
log-bin = mysql-bin
log-error = error.log
log_queries_not_using_indexes = 1
log_slave_updates = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
log_timestamps=system
long_query_time = 1
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery = 1
relay-log=relay-log
slow_query_log = 1
slow_query_log_file = slow.log
sync_binlog = 1

##### Repl #####
enforce_gtid_consistency = 1
gtid_mode = on
skip-slave-start
slave-parallel-type = LOGICAL_CLOCK
slave-parallel-workers = 2
slave_preserve_commit_order=1
slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'
slave_transaction_retries=128

[mysqldump]
quick
max_allowed_packet              = 1M

[mysql]
no-auto-rehash
default-character-set           = utf8
prompt = [\u@\h][\d]>\_

[mysqlhotcopy]
interactive-timeout
